

label,input:not([name="read"]),select{
    display:block;
    padding:1ch;
}

button:not([id="openAddBook"]){
    float:right;
    padding: auto;
}

/* =============== Display styling =============== */
#display{
    border: 1px solid black;
    margin: 1ch;
    overflow: auto;
    min-height: 10vh;
    max-height: 80vh;
}
/* .listDisplay{

} */

.gridDisplay{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(20ch, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(20ch, 1fr));
    grid-gap: 1ch;
    padding: 1ch;
}

/* =============== Book styling =============== */
.bookBlock{
    border: 1px solid black;
    overflow: auto;
}
.listView{
    padding: 1ch;
}   
.gridView{
    width: 2fr;
    height: 1fr;
}